@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-gradient {
  background: linear-gradient(to right, transparent 50%, #0ba5e9 50%);
  background-size: 200% 100%;
  transition: background-position 0.25s ease;
  text-underline-offset: 3.5px;
}

.hover-gradient:hover {
  background-position: -100% 0;
}

.about-hover-gradient {
  background: linear-gradient(to right, transparent 50%, #b8b3ab 50%);
  background-size: 200% 100%;
  transition: background-position 0.25s ease;
  text-underline-offset: 3.5px;
}

.about-hover-gradient:hover {
  background-position: -100% 0;
}
